* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #F6F3ED;
}

button {
  cursor: pointer;
}

.general-header {
  padding: 0% 10%;
}
.general-header .general-header-container {
  border-bottom: 2px solid black;
  border-left: 10px;
}
.general-header .general-header-container .general-header-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.general-header .general-header-container .general-header-location .general-header-navigation {
  display: flex;
  align-items: center;
  color: #777777;
  width: 434px;
  height: 88px;
  position: relative;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child {
  margin-top: 6%;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-div {
  height: 25px;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child:hover .hover-content {
  display: flex;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content {
  position: absolute;
  margin-top: -1%;
  height: 165px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5% 8%;
  background-color: white;
  display: none;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  animation: hovermove 1s ease-in-out;
  z-index: 100;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content .hover-cards {
  width: 206px;
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content .hover-cards:hover img {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
@keyframes hovermove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content .hover-cards .hover-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content .hover-cards .hover-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child .hover-content .hover-cards .hover-text p {
  margin: 0px 5px;
  color: black;
}
.general-header .general-header-container .general-header-location .general-header-navigation ul li:first-child a i {
  font-size: 10px;
  margin-left: 5px;
  color: rgb(192, 191, 191);
}
.general-header .general-header-container .general-header-location .general-header-navigation ul a {
  text-decoration: none;
  color: black;
}
.general-header .general-header-container .general-header-location .general-header-img {
  display: flex;
  align-items: center;
  width: 240px;
  height: 88px;
  font-size: 16px;
}
.general-header .general-header-container .general-header-location .general-header-img img {
  padding: 5px 0px;
  width: 220px;
  height: 47px;
}
.general-header .general-header-container .general-header-location .general-header-text {
  width: 350px;
  height: 88px;
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: center;
  font-size: 16px;
}
.general-header .general-header-container .general-header-location .general-header-text .header-shooping-icon :last-child:hover {
  cursor: pointer;
  color: gray;
}
.general-header .general-header-container .general-header-location .general-header-text .first-text a {
  padding: 0px 10px;
  color: #333333;
  text-decoration: none;
}
.general-header .general-header-container .general-header-location .general-header-text .first-text a:hover {
  color: gray;
}
.general-header .general-header-container .general-header-location .general-header-text .header-search-icon {
  font-size: 19px;
}
.general-header .general-header-container .general-header-location .general-header-text .header-search-icon i {
  padding: 0px 10px;
}
.general-header .general-header-container .general-header-location .general-header-text .header-heart-icon {
  font-size: 19px;
}
.general-header .general-header-container .general-header-location .general-header-text .header-heart-icon i {
  padding: 0px 5px;
}

.plants-menu {
  padding: 0% 10%;
  margin-top: 3%;
}
.plants-menu .plants-menu-content {
  border-bottom: 2px solid #5E6821;
  display: flex;
  width: 1369px;
  height: 524px;
}
.plants-menu .plants-menu-content .plants-menu-left {
  display: flex;
  align-items: center;
  width: 302px;
}
.plants-menu .plants-menu-content .plants-menu-left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 30px;
}
.plants-menu .plants-menu-content .plants-menu-left ul li {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #333333;
  transition: 0.3s ease;
  cursor: pointer;
}
.plants-menu .plants-menu-content .plants-menu-left ul li:hover {
  color: #5E6821;
}
.plants-menu .plants-menu-content .plants-menu-left ul li i {
  margin: 0px 0px 0px 10px;
  font-size: 30px;
  text-align: center;
}
.plants-menu .plants-menu-content .plants-menu-right {
  padding: 0px 15px;
  width: 1065px;
  height: 482px;
  border-left: 2px solid #5E6821;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swiper-content {
  position: absolute;
  transform: translateY(191%);
  color: white;
  left: 4%;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swiper-content h2 {
  font-size: 36px;
  font-weight: 900;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swiper-content p {
  color: rgba(255, 255, 255, 0.8);
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swiper-content button {
  padding: 5px 20px;
  background-color: #5E6821;
  color: white;
  border: none;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swiper-content button:hover {
  background-color: #3c430e;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swipper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plants-menu .plants-menu-content .plants-menu-right .swiper .swipper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-text {
  padding: 0% 10%;
  margin-top: 4%;
}

html,
body {
  position: relative;
  height: 100%;
}

.products-menu .swiper {
  width: 100%;
  height: 100%;
}
.products-menu .swiper .swiper-slide {
  cursor: pointer;
  transition: 0.3s ease;
  width: 338px;
  height: 515px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-menu .swiper .swiper-slide:hover .products-swipper-btn {
  display: flex;
}
.products-menu .swiper .swiper-slide .products-swipper-btn {
  display: none;
  position: absolute;
  flex-direction: column;
  font-size: 15px;
  gap: 5px;
  left: 85%;
  top: 3%;
}
.products-menu .swiper .swiper-slide .products-swipper-btn button {
  border: none;
  padding: 5px 5px;
  transition: 0.3s ease;
}
.products-menu .swiper .swiper-slide .products-swipper-btn button:hover {
  background-color: black;
  color: white;
}/*# sourceMappingURL=main.css.map */