$bodybackground: #F6F3ED;
$hovercolor:#5E6821;
$green: #5f6921; 
$palegreen: #eaf1e6; 
$green: #5f6921; 
$dark-green: darken($green, 10%); 
$green: #5f6921;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 22px;
$font-size-default: 10px;

